<% @page_title = 'Edit Location' %>

<% form_for([:admin, @location]) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', admin_location_path(@location) %> |
<%= link_to 'Back', admin_locations_path %>
