<% @page_title = 'New Location' %>

<% form_for([:admin, @location]) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', admin_locations_path %>
