html {
  background: #422;
}
body, #footer a {
  color: white;  
}

body {
  margin: 0;
  font-family: Helvetica; /* Professional, Pragmatic, Social */
  height: 100%;
}

#wrapper {
  width: 900px;
  margin: auto;
}

#page {
  background: #AF2C2F;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

#header {
  padding: 10px 10px 15px 10px;
  position: relative;
}

#logo img {
  height: 80px;
  width: 80px;
}

#logo, #news {
  background: rgba(0,0,0,0.5);
  padding: 10px 10px 8px 10px;
  border-radius: 5px;
  float: left;
  margin-right: 10px;
  border-bottom: 1px solid rgba(0,0,0,0.6);
  border-right: 1px solid rgba(0,0,0,0.6);
}

h1 {
  font-size: 53pt;
  letter-spacing: 2px;
  padding: 0 0 0 10px;
  margin: 0;
  text-shadow: #000 1px 1px 3px;
  font-weight: bold;
}

h1 span {
  display: block;
  font-size: 10pt;
  font-family: Arial;
}

#menu {
  float: right;
  position: relative;
  top: 21px;
}

#menu ul {
  list-style: none;
  margin-right: 20px;
}

#menu li {
  display: inline;
}

#menu a {
  font-size: 16pt;
  text-decoration: none;
  color: #822;
  font-weight: bold;
  -webkit-box-shadow: 2px 2px 4px #000;
  -moz-box-shadow: 2px 2px 4px #000;
  background: white;
  margin-right: 15px;
  padding: 5px 10px;
  border-radius: 3px;
}

#menu a:hover,
.events #menu li.events a,
.jobs #menu li.jobs a {
  color: white;
  background: #72B2B4;
}

#news {
  width: 250px;
  float: right;
  margin-right: 20px;
}

#news > p {
  margin: 0;
  text-align: center;
}

#news a {
  color: #76CACC;
  font-weight: bold;
  text-decoration: none;
}

#news ul {
  padding: 0;
  margin: 0;
}

#news li {
  list-style: none;
  border-bottom: 1px dotted #72B2B4;
  padding: 3px 0;
}

#news ul :last-child {
  border-style: none;
}

#news li .source {
  display: block;
  text-align: right;
  font-size: 85%;
  color: #AF2C2F;
}

#upcoming h3 {
  display: block;
  text-align: center;
  margin: 0;
  padding-top: 10px;
}

.ical {
  clear: left;
  margin: 10px 20px;
}

.ical a {
  font-size: 14pt;
  color: #76CACC;
  text-decoration: none;
  font-weight: bold;
  padding-left: 30px;
  background: url('ical.png') 0 0 no-repeat;
}

#content div {
  width: 550px;
  margin: 0 0 10px 20px;
  padding: 10px;
  background: white;
  border-radius: 3px;  
  color: black;
}

.event {
  float: left;
  width: 250px;
}

.event img {
  border: 1px solid #333;
  display: block;
  margin: 5px auto;
}

#blurbs {
  background: black;
  clear: both;
  padding: 25px;
  color: #ddd;
}

#footer {
  text-align: center;
  font-size: 70%;
  margin-top: 10px;
}

#footer p {
  margin: 0;
}

.clear {
  clear: both;
}