<h1>Upcoming Events</h1>

<% @events.each do |event| %>
	<% div_for(event) do %>
		<h2><%= time_range(event.starts_at, event.ends_at) %></h2>
		<p>
			<%= h event.location.name %><br />
			<%= link_to(h(event.name+'...'), event_path(event)) %>
		</p>
	<% end %>
<% end %>