
<% @events.each do |event| %>
	<% div_for(event) do %>
    <h3>Presentation</h3>
    <p>None scheduled</p>
    <a href="http://maps.google.com/maps?q=3730+Walnut+St+Philadelphia+PA">
      <img src="http://maps.google.com/maps/api/staticmap?markers=color:red|label:A|3730+Walnut+St+Philadelphia+PA&amp;zoom=16&amp;size=240x200&amp;sensor=false&amp;key=ABQIAAAArY34WV9NiqAqdb5t6Rjb4xSuJMslPtnuZYULNWgvm9S-92hLTRSaSBMqRfSjHARzuvpMQaPV3oYccw" />
    </a>
	<% end %>
<% end %>
<% if @events.empty? %>
  <div class="fullWidth">
    No upcoming events yet. Keep an eye on our <%= link_to 'twitter feed', twitter %> or <%= link_to 'mailing list', google_groups %> to get all the latest information.
  </div>
<% end %>

<% content_for :back_matter do %>
  <div id="blurbs">
    <%= render :partial => 'page/blurb' %>
  </div>
<% end %>