<h2>Ruby and Rails are thriving in Philadelphia!</h2>

<p>Philly.rb is the one and only user group in the Philadelphia area dedicated to helping Ruby enthusiasts learn, network, and socialize.</p>

<h2>Business Meetings</h2>

<p>Our group meets occasionally (about once every other month) to have educational meetings where members speak about Ruby-related topics. These are a wonderful resource for gaining in-depth knowledge about what's current and hot in the world of Ruby and Ruby on Rails. Past topics have included:</p>

<ul>
  <li>Introduction to JQuery</li>
  <li>Handling email with Rails</li>
  <li>The Git version control system</li>
  <li>Rails deployment</li>
  <li>Credit card validation and processing</li>
  <li>Enterprise adoption of Ruby</li>
  <li>JRuby</li>
  <li>Rails Globalize plugin</li>
</ul>

<h2>Pub Nites</h2>

<p>We also hold regular Pub Nites -- informal gatherings at watering holes throughout the Delaware Valley. These are casual get-togethers over food and drink to chat about whatever. Past locations have included Center City Philadelphia and Phoenixville, PA. These are a great opportunity to network and relax with other Rubyists.</p>