<div id="welcome">
	<h1>Ruby and Rails are thriving in Philadelphia!</h1>
	<p><strong>Philly.rb</strong> is the one and only user group in the Philadelphia area dedicated
		to helping Ruby enthusiasts learn, network, and socialize.</p>
</div>
<div id="new_name">
	<h2>We've changed our name!</h2>
	<p>Philly.rb is the new name for the Ruby user group in Philadelphia formerly called Philly on Rails.
	  When Philly on Rails began, Rails was the one and only draw to the Ruby language. Now, with the popularity
	  of alternative web frameworks such as Merb, Sinatra, and others, along with countless other uses for Ruby, it
	  was time for a change. A vote was taken and Philly.rb won.</p>
</div>

<div id="business_meetings">
	<h2>Business Meetings</h2>
	<p>Our group meets occasionally (about once every other month) to have educational meetings where
		members speak about Ruby-related topics. These are a wonderful resource for gaining in-depth
		knowledge about what's current and hot in the world of Ruby and Ruby on Rails.
		Past topics have included:</p>
	<ul>
		<li>Introduction to JQuery</li>
		<li>Handling email with Rails</li>
		<li>The Git version control system</li>
		<li>Rails deployment</li>
		<li>Credit card validation and processing</li>
		<li>Enterprise adoption of Ruby</li>
		<li>JRuby</li>
		<li>Rails Globalize plugin</li>
	</ul>
</div>
<div id="pub_nights">
	<h2>Pub Nights</h2>
	<p>We also hold regular Pub Nights -- informal gatherings at watering holes throughout the Delaware Valley.
		These are casual get-togethers over food and drink to chat about whatever. Past locations have included
		Center City Philadelphia and Phoenixville, PA. These are a great opportunity to network and relax with
		other Rubyists.</p>
</div>

<div id="join">
	<h2>Interested in Joining?</h2>
	<p>
		Just show up to one of <a href="/events">our events</a>.
		Or <a href="http://groups.google.com/group/phillyrb">join the mailing list</a>.
		That's it, really. Then you're a member.</p>
</div>