<h1>Ruby Jobs around Philadelphia</h1>

<p>
	Because we're the one and only Ruby and Ruby on Rails user group in and around
	Philadelphia, we occasionally get requests to advertise jobs to our
	membership base. Ad postings here are 100% free. Just email
	<a href="mailto:organizers@phillyrb.org">organizers@phillyrb.org</a>
	with your posting and we'll be happy to post it.
</p>

<p>However, the best way to reach our members is to sponsor a meeting. You simply
	 pay for our meeting venue and some light refreshments. Our current meeting space
	 is free to us so the cost is very minimal. All of our events are free to members
	 and that's made possible by our generous sponsors. Email
	 <a href="mailto:organizers@phillyrb.org">the organizers</a> if you are
	 interested in sponsoring.</p>
	
<h2>Current Postings:</h2>

<ul>
	<li>Kinetic Web Solutions, LLC of Limerick, Pennsylvania is seeking
		part-time Rails contractors for their team. Contact colin at kineticweb dot com.</li>
</ul>