<h1>Ruby Jobs around Philadelphia</h1>

<p>
	Because we're the one and only Ruby and Ruby on Rails user group in and around
	Philadelphia, we occasionally get requests to advertise jobs to our
	membership base. Ad postings here are 100% free. Just email
	<a href="mailto:organizers@phillyrb.org">organizers@phillyrb.org</a>
	with your posting and we'll be happy to post it.
</p>

<p>However, the best way to reach our members is to sponsor a meeting. You simply
	 pay for our meeting venue and some light refreshments. Our current meeting space
	 is free to us so the cost is very minimal. All of our events are free to members
	 and that's made possible by our generous sponsors. Email
	 <a href="mailto:organizers@phillyrb.org">the organizers</a> if you are
	 interested in sponsoring.</p>
	
<h2>Current Postings:</h2>

<ul>
        <li>Zecozi, a Center City start up with angel investors, is building a social ecommerce platform with and is hiring full time Rails developers.  This is a new project, and we need developers capable of building this platform from the ground up.  There are currently 2 to 3 positions still available.  Please contact Josiah at jkiehl(at)zecozi.com with a resume or portfolio.
	<li>Aphrodonis, LLC of Pennsylvania is seeking full-time Rails developer for a startup company with seed funding. Contact edchiu25 (at) Gmail dot com.</li>
	<li>Cities2night, a social site focus on nightlife events, is hiring a full time Sr. Rails Developer with 2+ years experience in building Rails apps.  Please send resume or request additional info at jobs at cities2night dot com.</li>
	<li>Hit the Sticks, LLC of Wynnewood, Pennsylvania is hiring full-time Ruby on Rails developers. Send a cover letter and resume to: Careers (at) GetGosu.com.</li>
	<li>Kinetic Web Solutions, LLC of Limerick, Pennsylvania is seeking
		part-time Rails contractors for their team. Contact colin at kineticweb dot com.</li>
</ul>

