<div>
  <h2>Ruby Jobs around Philadelphia</h2>

  <p>
    Because we're the one and only Ruby and Ruby on Rails user group in and around
    Philadelphia, we occasionally get requests to advertise jobs to our
    membership base. Ad postings here are 100% free. Just email
    <a href="mailto:organizers@phillyrb.org">organizers@phillyrb.org</a>
    with your posting and we'll be happy to post it.
  </p>

  <p>However, the best way to reach our members is to sponsor a meeting. You simply
    pay for our meeting venue and some light refreshments. Our current meeting space
    is free to us so the cost is very minimal. All of our events are free to members
    and that's made possible by our generous sponsors. Email
    <a href="mailto:organizers@phillyrb.org">the organizers</a> if you are
    interested in sponsoring.</p>

    <h2>Current Postings:</h2>
<ul>
        <li>Aphrodonis, LLC of Pennsylvania is seeking full-time Rails developer for a startup company with seed funding. Contact edchiu25 (at) Gmail dot com.</li>
	<li>Cities2night, a social site focus on nightlife events, is hiring a full time Sr. Rails Developer with 2+ years experience in building Rails apps.  Please send resume or request additional info at jobs at cities2night dot com.</li>
	<li>Hit the Sticks, LLC of Wynnewood, Pennsylvania is hiring full-time Ruby on Rails developers. Send a cover letter and resume to: Careers (at) GetGosu.com.</li>
	<li>Kinetic Web Solutions, LLC of Limerick, Pennsylvania is seeking several full-time Rails developers for their team. Contact colin at kineticweb dot com.</li>
	<li>TweetyJobs is the world's first employment-centric social network, and is build completely on RoR!  TweetyJobs is a cutting edge project of Human Capital Solutions, llc, a recruitment products and services company located in West Chester, PA. Contact joe (at) jobcircle.com</li>
	<li><a href="http://www.red-nucleus.com" title="Red Nucleus - Knowledge in motion">Red Nucleus</a> is focused on educating and training in regulated markets, with interesting content, innovative delivery, and a usable and elegant interface. We’re building our next product and looking for a senior-level Rails developer to help make it sing. Our development team is tight, agile, friendly, and bright, with a lot of input into the product. If you want in, we want to hear from you. Contact hr (at) red-nucleus.com</li>
</ul>
</div>