<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Title      : Fun Ride
Version    : 1.0
Released   : 20070527
Description: A two-column fixed-width template suitable for small websites.

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Philly on Rails: Philadelphia area Ruby user group</title>
<%= stylesheet_link_tag 'default' %>
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1><a href="#">Philly on Rails</a></h1>
			<h2><a href="http://www.freecsstemplates.org/">Philadelphia Ruby user group</a></h2>
		</div>
		<!-- end div#logo -->
		<div id="menu">
			<ul>
				<li class="active"><a href="#">Home</a></li>
				<li><a href="#">Events</a></li>
				<li><a href="#">Resources</a></li>
				<li><a href="#">Jobs</a></li>
			</ul>
		</div>
		<!-- end div#menu -->
	</div>
	<!-- end div#header -->
	<div id="page">
		<div id="content">
			<div id="welcome">
				<h1>Ruby and Rails are thriving in Philadelphia!</h1>
				<p><strong>Philly on Rails</strong> is the one and only user group in the Philadelphia area dedicated
					to helping Ruby enthusiasts learn, network, and socialize.</p>
			</div>
			<div id="business_meetings">
				<h2>Business Meetings</h2>
				<p>Our group meets occasionally (about once every other month) to have educational meetings where
					members speak about Ruby-related topics. These are a wonderful resource for gaining in-depth
					knowledge about what's current and hot in the world of Ruby and Ruby on Rails.
					Past topics have included:</p>
				<ul>
					<li>Introduction to JQuery</li>
					<li>Handling email with Rails</li>
					<li>The Git version control system</li>
					<li>Rails deployment</li>
					<li>Credit card validation and processing</li>
					<li>Enterprise adoption of Ruby</li>
					<li>JRuby</li>
					<li>Rails Globalize plugin</li>
				</ul>
			</div>
			<div id="Pub Nights">
				<h2>Pub Nights</h2>
				<p>We also hold regular Pub Nights -- informal gatherings at watering holes throughout the Delaware Valley.
					These are casual get-togethers over food and drink to chat about whatever. Past locations have included
					Center City Philadelphia and Phoenixville, PA. These are a great opportunity to network and relax with
					other Rubyists.</p>
			</div>
		</div>
		<!-- end div#content -->
		<div id="sidebar">
			<ul>
				<li id="news">
					<h2>Upcoming Events</h2>
					<ul>
						<li>
							<h3>25th May</h3>
							<p><a href="#">Pellentesque quis elit non lectus gravida blandit&hellip;</a></p>
						</li>
						<li>
							<h3>23rd May</h3>
							<p><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing&hellip;</a></p>
						</li>
						<li>
							<h3>21st May</h3>
							<p><a href="#">Phasellus nec erat sit amet nibh pellentesque congue&hellip;</a></p>
						</li>
						<li>
							<h3>17th May</h3>
							<p><a href="#">Maecenas vitae orci vitae tellus feugiat eleifend&hellip;</a></p>
						</li>
					</ul>
				</li>
				<li id="submenu">
					<h2>Helpful Links</h2>
					<ul>
						<li><a href="http://www.ruby-lang.org">Ruby</a></li>
						<li><a href="http://www.rubyonrails.org">Ruby on Rails</a></li>
						<li><a href="http://api.rubyonrails.org">Rails API Documentation</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- end div#sidebar -->
		<div style="clear: both; height: 1px"></div>
	</div>
	<!-- end div#page -->
	<div id="footer">
		<p id="legal">Copyright &copy; <%= Time.now.year %> Philly on Rails. All Rights Reserved. Design from <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
	</div>
	<!-- end div#footer -->
</div>
<!-- end div#wrapper -->
</body>
</html>
